@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }


  header{
      padding: 5px;
      display: flex;
      justify-content: space-between;
      background-color: rgba(50, 44, 141, 0.8);
      align-items: center;
  }

  header ul li a {
    filter: invert(1);
    margin-right: 20px;
  }
  
  .logo img {
      max-width: 270px;
      max-height: 50px;
      margin-top: 10px;
      height: 30px;
  }
  
  .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

  .menu ul {
      list-style: none;
      display: flex;
  }

  .menu ul li a{
      display: inline-block;
      font-size: large;
      color: #333;
      margin-left: 50px;
      text-decoration: none;
  }
  

  .showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 95.5vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    transition: 0.5s;
    z-index: 2;
  }

  .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  .text {
    position: relative;
    z-index: 10;
  }

  .text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
    
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 0%;
    text-transform: uppercase;
    border-radius: 25px;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 4px;
}

.social {
    position: absolute;
    bottom: 70px;
    display: flex;
    width: 250px;
    height: 60px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social img {
    max-width: 100px;
    max-height: 100px;
}

.social li {
    list-style: none;
}

.social li a
{
  display: inline-block;
  margin-right: 5px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

@media(max-width: 1024px) {
    .showcase,
    .header {
        padding: 2 px;
    }

    .logo img {
        max-width: 200px;
        max-height: 20px;
    }

    header ul li a {
        filter: invert(0);
    }

    .menu ul{
        display: none;
    }

    .toggle
    {
      position: relative;
      width: 40px;
      height: 40px;
      background: url(https://i.ibb.co/HrfVRcx/menu.png);
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
      cursor: pointer;
      filter: invert(0);
    }
    
    .toggle.active {
        background: url(images/close.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        filter: invert(0);
        z-index: 100;
    }

    .menu ul li a{
        display: inline-block;
        color: #333;
        font-size: 2em;
        margin-left: 10px;
        text-decoration: none;
    }

    .menu ul.navigation.active
    {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
      z-index: 3;
    }

    .text h2 {
        font-size: 2em;
    }

    .text h3 {
        font-size: 1em;
    }
    
    
}

@media(max-height: 800px) {
    .showcase,
    .header {
        padding: 5 px;
        min-height: 96vh;
    }

    .logo img {
        max-width: 200px;
        max-height: 20px;
        width: 200px;
    }

    .menu ul li a{
        display: inline-block;
        color: #333;
        font-size: larger;
        margin-left: 10px;
        text-decoration: none;
        filter: invert(0);
    }

    .text h2 {
        font-size: medium;
    }

    .text h3 {
        font-size: small;
    }

    .text p {
        font-size: smaller;
    }

    .text a {
        font-size: xx-small;
        
    }

    .social {
        position: absolute;
        bottom: 20px;
        display: flex;
        width: 250px;
        height: 60px;
        z-index: 10;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .social li a {
        left: auto;
        padding-left: 0%;
        margin-top: 1px;
        width: 100px;
    }

    .toggle.active {
        background: url(images/close.png);
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        filter: invert(0);
        z-index: 100;
    }

    
}